@import './base.css';

/* background color: FFB4A2 */
/* primary text:  6D6875 */
/* primary color:  E5989B */
/* secondary color: FFCDB2 */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}



@media (hover: hover) {
 
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#app {
  /* overflow-x: hidden !important;
  overflow-y: hidden !important; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* min-width: 900px; */
}

